:root{
--base-color: white;
--base-variant: rgb(235, 235, 235); 
--text-color: black;
--secondary-text:rgb(113, 113, 113);
--primary-color:rgb(0, 110, 255);
--accent-color:rgb(8, 0, 255);
}
.darkmode{
--base-color: black;
--base-variant:rgb(40, 40, 40);
--text-color: white;
--secondary-text: rgb(104, 104, 104);
--primary-color: rgba(255, 128, 0, 0.922);
--accent-color: rgb(235, 141, 0);
}
body{
    margin: 0px;
    background-color: var(--base-color);    
    color: var(--text-color);
}  
#theme-switch{
height: 50px;
width: 50px;
padding: 0px;
border-radius: 50%;
background-color: var(--base-variant);
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 20px;
right: 20px;
}
.navbar ul{
list-style-type: none;
background-color: hsl(0, 0%, 25%);
padding: 0px;
margin: 0px;         
overflow: hidden;
}
.navbar a{
color: white;
text-decoration: none;
padding: 5px;
display: block;
text-align: center;    
}
.navbar a:hover{
background-color: hsl(0, 0%, 10%);
}
.navbar li{
float: left;    
}

{box-sizing:border-box}
.slideshow-container{
max-width: 1000px;
position: relative;
margin: auto;
}
.mySlides{display: none;
}
.prev, .next{cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 0;
user-select: none;
}
.next{
right: 0;
border-radius: 3px 0 0 3px;    
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0,8);
}
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;width: 100%;
    text-align: center;
}
.nunbertext{
    color: #f2f2f2f;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top:0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin:0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; 
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade;{
    form{opacity: .4;}
    to{opacity: 1;}
}